.left_arrow{
    width: 52px;
    height: 52px;
    background-color: $black;
    content: '';
    mask: url(/assets/images/left_arrow.svg) no-repeat center/contain;
    -webkit-mask: url(/assets/images/left_arrow.svg) no-repeat center/contain;

    &.disabled{
        background-color: transparent;
    }
    
    cursor: pointer;
}
.right_arrow{
    width: 52px;
    height: 52px;
    background-color: $black;
    content: '';
    mask: url(/assets/images/right_arrow.svg) no-repeat center/contain;
    -webkit-mask: url(/assets/images/right_arrow.svg) no-repeat center/contain;

    &.disabled{
        background-color: transparent;
    }

    cursor: pointer;
}

.left_arrow_big{
    width: 120px;
    height: 120px;
    background-color: $black;
    content: '';
    mask: url(/assets/images/left_arrow_big.svg) no-repeat center/contain;
    -webkit-mask: url(/assets/images/left_arrow_big.svg) no-repeat center/contain;

    &.disabled{
        background-color: transparent;
    }

    cursor: pointer;
}
.right_arrow_big{
    width: 120px;
    height: 120px;
    background-color: $black;
    content: '';
    mask: url(/assets/images/right_arrow_big.svg) no-repeat center/contain;
    -webkit-mask: url(/assets/images/right_arrow_big.svg) no-repeat center/contain;

    &.disabled{
        background-color: transparent;
    }

    cursor: pointer;
}

.top_btn{
    width: 120px;
    height: 120px;
    background-color: $black;
    content: '';
    mask: url(/assets/images/top.svg) no-repeat center/contain;
    -webkit-mask: url(/assets/images/top.svg) no-repeat center/contain;

    cursor: pointer;
}

.arrow{
    width: 60px;
    height: 60px;
    background-color: $black;
    content: '';
    mask: url(/assets/images/arrow.svg) no-repeat center/contain;
    -webkit-mask: url(/assets/images/arrow.svg) no-repeat center/contain;

    cursor: pointer;
}