@charset "UTF-8";
@font-face {
  font-family: "smkgothic";
  font-style: normal;
  font-weight: 500;
  src: url(/assets/fonts/smkgothic.otf);
  src: url(/assets/fonts/smkgothic.otf) format("opentype");
  unicode-range: U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E, U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF;
}
@font-face {
  font-family: "smtgothic";
  font-style: normal;
  font-weight: 500;
  src: url(/assets/fonts/smtgothic.otf);
  src: url(/assets/fonts/smtgothic.otf) format("opentype");
  unicode-range: U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E, U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF;
}
@font-face {
  font-family: "helvetica";
  font-style: normal;
  font-weight: 500;
  src: url(/assets/fonts/Helvetica.ttc);
  src: url(/assets/fonts/Helvetica.ttc) format("truetypecollection");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "smkgothic", "smtgothic", "helvetica", "Gothic A1", sans-serif;
  word-break: keep-all;
  word-wrap: break-word;
  box-sizing: border-box;
}

.off {
  display: none !important;
}

@media (min-width: 720px) {
  .web_none {
    display: none;
  }
}

@media (max-width: 719px) {
  .mobile_none {
    display: none;
  }
}

p::-moz-selection, li::-moz-selection, div::-moz-selection, br::-moz-selection {
  background-color: black;
  color: white;
}

p::selection,
li::selection,
div::selection,
br::selection {
  background-color: black;
  color: white;
}

.regSmallP {
  font-family: "smtgothic", "helvetica", "Gothic A1", sans-serif;
  font-size: 14px;
  line-height: 185%;
  font-weight: 500;
  color: #000000;
}
@media (min-width: 720px) {
  .regSmallP {
    font-size: 26px;
  }
}

.regP {
  font-family: "smtgothic", "helvetica", "Gothic A1", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 500;
  color: #000000;
}

.regbigP {
  font-family: "smtgothic", "helvetica", "Gothic A1", sans-serif;
  font-size: 18px;
  line-height: 140%;
  font-weight: 500;
  color: #000000;
}

.medSmallP {
  font-family: "smkgothic", "helvetica", "Gothic A1", sans-serif;
  font-size: 14px;
  line-height: 185%;
  font-weight: 500;
  color: #000000;
}
@media (min-width: 720px) {
  .medSmallP {
    font-size: 26px;
  }
}

.medbigP {
  font-family: "smkgothic", "helvetica", "Gothic A1", sans-serif;
  font-size: 18px;
  line-height: 140%;
  font-weight: 500;
  color: #000000;
}
@media (min-width: 720px) {
  .medbigP {
    font-size: 32px;
  }
}

.medBigerP {
  font-family: "smkgothic", "helvetica", "Gothic A1", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 500;
  color: #000000;
}
@media (min-width: 720px) {
  .medBigerP {
    font-size: 34px;
  }
}

.boldSmallP {
  font-family: "smkgothic", "helvetica", "Gothic A1", sans-serif;
  font-size: 14px;
  line-height: 185%;
  font-weight: 500;
  color: #000000;
}
@media (min-width: 720px) {
  .boldSmallP {
    font-size: 26px;
  }
}

.boldP {
  font-family: "smkgothic", "helvetica", "Gothic A1", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 500;
  color: #000000;
}
@media (min-width: 720px) {
  .boldP {
    font-size: 30px;
  }
}

.boldBigP {
  font-family: "smkgothic", "helvetica", "Gothic A1", sans-serif;
  font-size: 18px;
  line-height: 140%;
  font-weight: 500;
  color: #000000;
}
@media (min-width: 720px) {
  .boldBigP {
    font-size: 32px;
  }
}

.boldBigerP {
  font-family: "smkgothic", "helvetica", "Gothic A1", sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 500;
  color: #000000;
}
@media (min-width: 720px) {
  .boldBigerP {
    font-size: 34px;
  }
}

.center {
  text-align: center;
}

.flex_between {
  display: flex;
  justify-content: space-between;
}

.flex_between_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex_start {
  display: flex;
  justify-content: flex-start;
}

.flex_start_center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.spacing_b_5 {
  margin-bottom: 5px;
}

.spacing_b_10 {
  margin-bottom: 10px;
}

.spacing_b_15 {
  margin-bottom: 15px;
}

.spacing_b_20 {
  margin-bottom: 20px;
}

.spacing_b_30 {
  margin-bottom: 30px !important;
}

.spacing_b_40 {
  margin-bottom: 40px;
}

.spacing_b_50 {
  margin-bottom: 50px;
}

.spacing_b_70 {
  margin-bottom: 70px;
}

.spacing_b_100 {
  margin-bottom: 100px;
}

.spacing_t_10 {
  margin-top: 10px;
}

.spacing_t_30 {
  margin-top: 30px;
}

.spacing_t_50 {
  margin-top: 50px;
}

.spacing_t_60 {
  margin-top: 60px;
}

.spacing_t_100 {
  margin-top: 100px;
}

.spacing_r_15 {
  margin-right: 15px;
}

.left_arrow {
  width: 52px;
  height: 52px;
  background-color: #000000;
  content: "";
  mask: url(/assets/images/left_arrow.svg) no-repeat center/contain;
  -webkit-mask: url(/assets/images/left_arrow.svg) no-repeat center/contain;
  cursor: pointer;
}
.left_arrow.disabled {
  background-color: transparent;
}

.right_arrow {
  width: 52px;
  height: 52px;
  background-color: #000000;
  content: "";
  mask: url(/assets/images/right_arrow.svg) no-repeat center/contain;
  -webkit-mask: url(/assets/images/right_arrow.svg) no-repeat center/contain;
  cursor: pointer;
}
.right_arrow.disabled {
  background-color: transparent;
}

.left_arrow_big {
  width: 120px;
  height: 120px;
  background-color: #000000;
  content: "";
  mask: url(/assets/images/left_arrow_big.svg) no-repeat center/contain;
  -webkit-mask: url(/assets/images/left_arrow_big.svg) no-repeat center/contain;
  cursor: pointer;
}
.left_arrow_big.disabled {
  background-color: transparent;
}

.right_arrow_big {
  width: 120px;
  height: 120px;
  background-color: #000000;
  content: "";
  mask: url(/assets/images/right_arrow_big.svg) no-repeat center/contain;
  -webkit-mask: url(/assets/images/right_arrow_big.svg) no-repeat center/contain;
  cursor: pointer;
}
.right_arrow_big.disabled {
  background-color: transparent;
}

.top_btn {
  width: 120px;
  height: 120px;
  background-color: #000000;
  content: "";
  mask: url(/assets/images/top.svg) no-repeat center/contain;
  -webkit-mask: url(/assets/images/top.svg) no-repeat center/contain;
  cursor: pointer;
}

header {
  padding: 24px 25px 0 25px;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}
header > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 719px) {
  header > div {
    align-items: flex-start;
  }
}
@media (min-width: 720px) {
  header > div {
    padding-bottom: 24px;
  }
}
@media (max-width: 719px) {
  header {
    padding: 24px 20px 12px 20px;
  }
}
header.list_header {
  background-color: #fff;
}
@media (max-width: 719px) {
  header.list_header {
    border-bottom: 1px solid #000000;
  }
}
@media (min-width: 720px) {
  header.list_header div {
    border-bottom: 1.8px solid #000000;
  }
}

.title {
  font-family: "smtgothic", "helvetica", "Gothic A1", sans-serif;
  font-size: 18px;
  line-height: 140%;
  font-weight: 500;
  color: #000000;
  line-height: 120%;
  font-size: 3vw;
  cursor: pointer;
}
@media (max-width: 719px) {
  .title {
    font-size: 30px;
  }
  .title.time {
    font-size: 32px;
  }
}

.main {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main > div {
  width: 100%;
}
@media (min-width: 720px) {
  .main > div {
    width: 50%;
    height: 100%;
  }
}

.visual {
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
@media (max-width: 719px) {
  .visual {
    height: 100%;
  }
}

.menu {
  display: flex;
  align-items: flex-end;
}
.menu > ul {
  width: 100%;
  padding: 25px;
  background-color: #fff;
}
@media (max-width: 719px) {
  .menu {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    animation-name: toast;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.12, 1.24, 0.25, 0.9);
  }
}

@keyframes toast {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}
.menu_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1.8px solid #000000;
  cursor: pointer;
}
.menu_list:first-child {
  border-top: 1.8px solid #000000;
}
.menu_list .medBigerP {
  width: 30%;
}
@media (max-width: 719px) {
  .menu_list {
    padding: 7px 0;
    border-bottom: 1px solid #000000;
  }
  .menu_list .medBigerP {
    width: 64px;
  }
  .menu_list:first-child {
    border-top: 1px solid #000000;
  }
}

.heading_wrap {
  background-color: white;
  padding-top: 24px;
  width: 100%;
  position: fixed;
  z-index: 80;
  top: calc(48px + 3.6vw);
}
@media (max-width: 719px) {
  .heading_wrap {
    padding-top: 12px;
    top: 109px;
  }
}
.heading_wrap .middle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 25px;
  padding-bottom: 5px;
}
.heading_wrap .middle .medbigP {
  margin-right: 20px;
}
@media (max-width: 719px) {
  .heading_wrap .middle {
    padding: 0 20px;
  }
  .heading_wrap .middle .medbigP {
    margin-right: 12px;
  }
}
.heading_wrap .sub {
  white-space: nowrap;
  overflow-x: auto;
  padding-bottom: 15px;
  -ms-overflow-style: none;
  /* 인터넷 익스플로러 */
  scrollbar-width: none;
  /* 파이어폭스 */
}
@media (max-width: 719px) {
  .heading_wrap .sub {
    padding-bottom: 5px;
  }
}
.heading_wrap .sub ul {
  padding: 0 25px;
}
@media (max-width: 719px) {
  .heading_wrap .sub ul {
    padding: 0 20px;
  }
}
.heading_wrap .sub::-webkit-scrollbar {
  display: none;
}
@media (min-width: 720px) {
  .heading_wrap .line {
    margin: 0 25px;
    border-bottom: 1.8px solid #000000;
  }
}
@media (max-width: 719px) {
  .heading_wrap.info_heading_wrap {
    padding-top: 25px;
  }
  .heading_wrap.info_heading_wrap .sub {
    padding-bottom: 10px;
  }
  .heading_wrap.info_heading_wrap .sub_heading {
    border: none;
  }
}

.sub_heading {
  font-family: "smkgothic", "helvetica", "Gothic A1", sans-serif;
  font-size: 14px;
  line-height: 185%;
  font-weight: 500;
  color: #000000;
  display: inline-block;
  margin-right: 10vw;
  color: #878787;
  cursor: pointer;
}
@media (min-width: 720px) {
  .sub_heading {
    font-size: 26px;
  }
}
@media (max-width: 719px) {
  .sub_heading {
    margin-right: 16px;
    border-bottom: 1px solid transparent;
  }
}
.sub_heading:hover {
  color: #646464;
}
.sub_heading.on {
  color: #000000;
}
@media (max-width: 719px) {
  .sub_heading.on {
    border-bottom: 1px solid #000000;
  }
}

.bottom_wrap_mobile {
  background-color: white;
  padding: 11px;
  width: 100%;
  position: fixed;
  z-index: 100;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 720px) {
  .bottom_wrap_mobile {
    display: none;
  }
}

.bottom_wrap_web {
  margin: 0 20px;
}
.bottom_wrap_web > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1.8px solid #000000;
  width: 100%;
}
@media (max-width: 719px) {
  .bottom_wrap_web {
    display: none;
  }
}

.text_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text_btn p {
  transform: translateX(30px);
}
@media (max-width: 719px) {
  .text_btn p {
    transform: translateX(15px);
  }
}
.text_btn.left p {
  transform: translateX(-30px);
}
@media (max-width: 719px) {
  .text_btn.left p {
    transform: translateX(-15px);
  }
}

.article_wrap {
  padding: 198px 20px 84px 20px;
}
.article_wrap ul {
  display: none;
}
.article_wrap ul.on {
  display: block;
}
@media (min-width: 720px) {
  .article_wrap {
    padding: calc(3vw + 188px + 35px) 25px 26px 25px;
  }
  .article_wrap ul {
    position: relative;
  }
  .article_wrap ul::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    height: 100%;
    border-right: 1.8px solid #000000;
  }
}
.article_wrap .top_btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
}
@media (min-width: 720px) {
  .article_wrap .top_btn {
    display: none;
  }
}

.summary {
  background-color: #fff;
  padding: 40px 0 60px 0;
}
@media (max-width: 719px) {
  .summary {
    padding: 10px 0 25px 0;
  }
}
.summary > div {
  width: 96%;
  max-width: 450px;
  margin: 0 auto;
  border: 1px solid #000000;
  padding: 25px;
  transform: rotate(5deg);
  transition: all 0.2s ease-in-out;
}
@media (max-width: 719px) {
  .summary > div {
    padding: 15px;
    transform: rotate(3deg);
  }
}
.summary > div p:first-child {
  font-family: "smkgothic", "helvetica", "Gothic A1", sans-serif;
  font-size: 14px;
  line-height: 185%;
  font-weight: 500;
  color: #000000;
  font-size: 13px;
  margin-bottom: 15px;
}
@media (min-width: 720px) {
  .summary > div p:first-child {
    font-size: 26px;
  }
}
@media (min-width: 720px) {
  .summary > div p:first-child {
    font-size: 19px;
    margin-bottom: 22px;
  }
}
.summary > div p:nth-child(2) {
  font-family: "smtgothic", "helvetica", "Gothic A1", sans-serif;
  font-size: 14px;
  line-height: 185%;
  font-weight: 500;
  color: #000000;
  font-size: 13px;
}
@media (min-width: 720px) {
  .summary > div p:nth-child(2) {
    font-size: 26px;
  }
}
@media (min-width: 720px) {
  .summary > div p:nth-child(2) {
    font-size: 19px;
  }
}
.summary > div:hover {
  transform: rotate(0deg);
}

.article {
  margin-bottom: 30px;
}
@media (min-width: 720px) {
  .article {
    width: calc(50% - 25px);
    margin-bottom: 10px;
    margin-left: calc(50% + 25px);
  }
  .article > p {
    text-align: left;
  }
  .article:nth-child(2n) {
    margin-left: 0;
  }
  .article:nth-child(2n) .title_writer_wrap > p {
    text-align: right;
  }
  .article:nth-child(2n) > p {
    text-align: right;
  }
}
.article:last-child {
  margin-bottom: 0;
}
.article.indent .regSmallP {
  text-indent: 2rem;
}
@media (max-width: 719px) {
  .article {
    border-bottom: 1px solid #000000;
    margin-bottom: 36px;
    padding-bottom: 36px;
  }
  .article:last-child {
    border: none;
    padding-bottom: 0px;
  }
}

.info_article {
  padding: calc(3.2vw + 175px) 20px 94px 20px;
}
@media (min-width: 720px) {
  .info_article {
    padding: 223px 25px 26px 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .info_article > p {
    width: calc(50% - 22px);
  }
}
.info_article .top_btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
}
@media (min-width: 720px) {
  .info_article .top_btn {
    display: none;
  }
}

.title_writer_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.title_writer_wrap > p {
  font-family: "smkgothic", "helvetica", "Gothic A1", sans-serif;
  font-size: 14px;
  line-height: 185%;
  font-weight: 500;
  color: #000000;
}
@media (min-width: 720px) {
  .title_writer_wrap > p {
    font-size: 26px;
  }
}
.title_writer_wrap .article_title {
  width: calc(100% - 91px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 719px) {
  .title_writer_wrap .article_title {
    width: calc(100% - 62px);
  }
}
@media (min-width: 720px) {
  .title_writer_wrap {
    border-bottom: 1.8px solid #000000;
    margin-bottom: 15px;
  }
  .title_writer_wrap .article_title {
    width: 50%;
  }
  .title_writer_wrap .article_writer {
    width: calc(50% - 30px);
  }
}

.join_us {
  width: 236px;
  position: fixed;
  bottom: 64px;
  right: 67px;
  z-index: 100;
}
.join_us:hover {
  cursor: pointer;
}
@media (max-width: 719px) {
  .join_us {
    width: 86px;
    height: 86px;
    right: 20px;
    bottom: 88px;
  }
}
.join_us > div {
  width: 100%;
  padding-bottom: 100%;
  background-position: center;
  background-size: contain;
  background-image: url(/assets/images/joinus_web.png);
  background-repeat: no-repeat;
  animation-name: circle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@media (max-width: 719px) {
  .join_us > div {
    background-image: url(/assets/images/joinus_mobile.png);
  }
}
.join_us.info > div {
  background-image: url(/assets/images/info_web.png);
}
@media (max-width: 719px) {
  .join_us.info > div {
    background-image: url(/assets/images/info_mobile.png);
  }
}
@media (min-width: 720px) {
  .join_us.info {
    left: 67px;
  }
}

@keyframes circle {
  from {
    transform: rotate(40deg);
  }
  to {
    transform: rotate(400deg);
  }
}
.explanation_article_wrap {
  padding: calc(3vw + 62px) 25px 25px 25px;
}
.explanation_article_wrap .explanation_article {
  overflow: hidden;
  max-height: 0;
  transition: all 1s ease-in-out;
  position: relative;
}
.explanation_article_wrap .explanation_article.on {
  max-height: 1600px;
}
.explanation_article_wrap p {
  font-family: "smtgothic", "helvetica", "Gothic A1", sans-serif;
  font-size: 14px;
  line-height: 185%;
  font-weight: 500;
  color: #000000;
  max-width: 1100px;
}
@media (min-width: 720px) {
  .explanation_article_wrap p {
    font-size: 26px;
  }
}
.explanation_article_wrap .explanation_title {
  padding: 6px 0;
  border-top: 1.8px solid #000000;
  border-bottom: 1.8px solid #000000;
  margin: 25px 0;
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  cursor: pointer;
}
.explanation_article_wrap .explanation_title:first-child {
  border-top: none;
  margin-top: 0;
}
@keyframes color {
  from {
    color: #000000;
  }
  50% {
    color: #fff;
  }
  to {
    color: #000000;
  }
}
@media (max-width: 719px) {
  .explanation_article_wrap {
    padding: 119px 20px 94px 20px;
  }
  .explanation_article_wrap p {
    max-width: 90%;
  }
  .explanation_article_wrap .explanation_title {
    font-size: 16px;
    padding: 2px 0;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    margin: 14px 0;
    max-width: 65%;
  }
  .explanation_article_wrap .top_btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
  }
}
@media (max-width: 719px) and (min-width: 720px) {
  .explanation_article_wrap .top_btn {
    display: none;
  }
}

.img_wrap {
  display: flex;
  justify-content: flex-start;
}
.img_wrap img {
  width: 170px;
  margin-left: 30px;
}
@media (max-width: 719px) {
  .img_wrap {
    flex-direction: column-reverse;
  }
  .img_wrap img {
    margin: 0;
    margin-bottom: 14px;
  }
}

.graph1 {
  max-width: 1100px;
  display: flex;
  justify-content: flex-start;
  margin: 25px 0;
}
.graph1 li {
  width: calc((100% - 160px) / 5);
  max-width: 170px;
  margin-right: 40px;
}
.graph1 li:last-child {
  margin-right: 0;
}
.graph1 li div {
  width: 100%;
  padding-bottom: 100%;
  border: 1.8px solid #000000;
  border-radius: 100%;
  position: relative;
}
.graph1 li div p {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media (max-width: 719px) {
  .graph1 {
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 10px 4px 10px;
  }
  .graph1 li {
    width: calc((100% - 34px) / 3);
    margin-right: 14px;
    margin-bottom: 10px;
  }
  .graph1 li:nth-child(3), .graph1 li:nth-child(5) {
    margin-right: 0;
  }
  .graph1 li div {
    border: 1px solid #000000;
  }
}

.graph2 {
  max-width: 1100px;
  margin: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.graph2 li {
  width: 326px;
}
.graph2 li div {
  width: 100%;
  padding-bottom: 100%;
  border: 1.8px solid #000000;
  border-radius: 100%;
  position: relative;
}
.graph2 li div p {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.graph2 li:nth-child(2) {
  border-top: 1.8px solid #000000;
}
@media (max-width: 719px) {
  .graph2 {
    position: relative;
    max-width: 90%;
    padding-bottom: 86%;
    margin: 14px 0;
  }
  .graph2 li {
    width: 55%;
    position: absolute;
  }
  .graph2 li:nth-child(1) {
    top: 0;
    left: 0;
  }
  .graph2 li:nth-child(3) {
    margin-top: 40%;
    top: 0;
    right: 0;
  }
  .graph2 li div {
    border: 1px solid #000000;
  }
}/*# sourceMappingURL=main.css.map */